// Typography for the project

body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 2.875rem;
}
h2 {
    font-size: 2.875rem;
}
h3 {
    font-size: 1.75rem;
}

p {
    font-size: 1.12rem;
}
